<div class="login-container">
  <div class="left-section">
    <form class="align-form" [formGroup]="form">
      <div class="svg-logo">
        <img src="assets/imagem/syncelab.png" class="logo-image" />
      </div>

      <label class="description" for="email">Usuário</label>
      <input
        type="text"
        id="email"
        placeholder="Digite seu usuário"
        formControlName="login"
      />

      <label class="description" for="senha">Senha</label>
      <input
        [type]="passwordView ? 'text' : 'password'"
        placeholder="Digite sua senha"
        formControlName="password"
      />

      <div class="checkbox-forgot">
        
        <a class="forgot-password" (click)="showPasswordRecovery()" href="#">
          Esqueceu a senha?
        </a>
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <div class="button">
        <button type="button" class="btn-primary" (click)="loginSystem()">
          Entrar
        </button>
      </div>
    </form>
  </div>

  <div class="right-section">
    <img
      src="assets/icone/lab2.png"
      class="background-image"
      width="800"
      height="860"
    />
  </div>
</div>

<app-recover-password
  *ngIf="showPasswordRecoveryModal"
  (closeModal)="closePasswordRecovery()"
></app-recover-password>
