<!-- Botão para abrir o popup -->
<button id="open-popup-button">Abrir Popup</button>

<!-- Popup Modal -->
<div id="popup-modal" class="modal-background">
  <div class="modal-container">
    <span class="close-button" id="close-popup-button">&times;</span>
    <div class="modal-header">
      <img src="sua-logo.png" alt="Logo" class="modal-logo">
    </div>
    <div class="modal-content">
      <form >

        <label for="email" class="email-label">Endereço de Email:</label>
        <input type="email" id="email" class="email-input" formControlName="email" required>
        <label for="email" class="email-label">Endereço de Email:</label>
        <input type="email" id="email" class="email-input" formControlName="email" required>
        <label for="email" class="email-label">Endereço de Email:</label>
        <input type="email" id="email" class="email-input" formControlName="email" required>
        <label for="email" class="email-label">Endereço de Email:</label>
        <input type="email" id="email" class="email-input" formControlName="email" required>        
        <div class="button-container">
          <button type="button" class="back-button" id="back-button">Voltar</button>
          <button type="submit" class="submit-button">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

